<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Store app - BackboneJS</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        
        <script defer src="js/app.js"></script>
    </head>
    <body>
        
        <div id="mainContainer"></div>
        
    </body>
    <script type="text/template" id="tpl-home">
        <div class="home-page">
            <div class="container">
                <h1>Start shopping now</h1>
                <a class="button" href="#store">Enter Store</a>
            </div>
        </div>
    </script>
    <script type="text/template" id="tpl-store">
        <div class="store-page">
            <div class="container clearRow">

                <div class="shelfContainer">
                </div>

                <div class="cartContainer">
                </div>

            </div>
        </div>
    </script>
    <script type="text/template" id="tpl-store-shelf">
        <div class="categoriesContainer">
            <ul class="list clearRow">
                <% _.each(categories, function(cat){ %>
                    <li class="item <%= (cat.get('id') == currentCategoryID) ? 'active' : '' %>"
                        data-category-id="<%= cat.get('id') %>">
                        <%= cat.get('category') %>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="itemsContainer">
            <ul class="list">
                <% _.each(currentCategoryItems, function(item){ %>
                    <li class="item clearRow" data-item-id="<%= item.get('id') %>">
                        <div class="clearRow">
                            <div class="name left"><%= item.get('name') %></div>
                            <div class="price right"><%= renderPrice( item.get('price') ) %></div>
                        </div>
                        <div class="description muted-text"><%= item.get('description') %></div>
                    </li>
                <% }); %>
            </ul>
        </div>
    </script>
    <script type="text/template" id="tpl-store-cart">
        <h1>Your Cart</h1>
        <div class="cartItemsContainer">
            <% if ( items.length === 0 ) { %>
                <div class="muted-text center">There are no items in the cart</div>
            <% }; %>
            <ul class="list">
                <% _.each(items, function(item){ %>
                    <li class="item clearRow">
                        <div class="name left"><%= item.get('name') %></div>
                        <div class="price right">
                            <%= renderPrice( item.get('price') ) %>
                            <span class="remove" data-item-id="<%= item.get('id') %>">x</span>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>

        <div class="cartTotalsContainer">
            <div class="clearRow line subtotal">
                <div class="title left">Subtotal:</div>
                <div class="amount right"><%= renderPrice( subtotal ) %></div>
            </div>
            <div class="clearRow line tax">
                <div class="title left">Tax:</div>
                <div class="amount right"><%= renderPrice( tax ) %></div>
            </div>
            <div class="clearRow line total">
                <div class="title left">Total:</div>
                <div class="amount right"><%= renderPrice( total ) %></div>
            </div>
        </div>

        <div class="checkoutContainer">
            <button class="checkout"
                    ng-click="checkout()">
                Checkout
            </button>
        </div>
    </script>
</html>