<home>
    <div class="home-page">
        <div class="container">
            <h1>Start shopping now</h1>
            <a href="#/store" class="button">Enter Store</a>
        </div>
    </div>

    <script type="text/babel">
        this.on('unmount', () => {
            console.log('home - unmount');
        })
    </script>
</home>
