<shelf>
    <div class="shelfContainer">
        <div class="categoriesContainer">
            <ul class="list clearRow">
            </ul>
        </div>
        <div class="itemsContainer">
            <ul class="list">
            </ul>
        </div>
    </div>
</shelf>