<store>
    <div class="store-page">
        <div class="container clearRow">
            <shelf />
            <cart />
        </div>
    </div>
    <script type="text/babel">

    </script>
</store>
